*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 230px;
    font-size: 100px;
    /* background-color: rgb(56, 179, 127) */
}
h3{
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    }